<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/adm.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src='../js/public.js'></script>
   <script src='../js/fn.js'></script>
 <script src="../js/quit.js"></script>
 
<script src="../release/wangEditor.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<style>
	#editor{
		margin-left:150px;
	}
</style>
</head>
<body>
    <header>
        <h1>Blog后台管理界面</h1>
        <p style="position: absolute;top:40px;right:300px;width：300px">
        	<img src="../images/1.jpg" style='display:inline-block;vertical-align:middle;border-radius:50%;' width="80px" height="80px"  alt="" />
        	<span style="vertical-align:middle;">
        		欢迎您登录blog管理系统
        		<a onclick="quit()">退出</a>
        	</span>
        </p>
    </header>
    <div id="main">
        <div id="lside">
            <aside>
                <h4>栏目管理</h4>
                <ul>
                    <li><a href="http://www.work.com/bgPage/catlist.html">栏目列表</a></li>
                </ul>
            </aside>
            <aside>
                <h4>文章管理</h4>
                <ul>
                    <li><a href="http://www.work.com/bgPage/artlist.html">文章列表</a></li>
                    <li><a href="http://www.work.com/bgPage/artadd.html">发布文章</a></li>
                </ul>
            </aside>
            <aside>
                <h4>个人中心</h4>
                <ul>
                    <li><a href="http://www.work.com/bgPage/bloger.html">修改密码</a></li>
                    <li><a href="login">退出登陆</a></li>
                </ul>
            </aside>
        </div>
        <div id="rside">
            <form id='setform'>
                <div class="form-group">
                    <label>标题:</label>
                    <p>
                        <input type="text" name="title" id='title' v-model="title" >
                    </p>
                </div>
                <div class="form-group">
                    <label>图标:</label>
                    <p>
                        <input type="file" name="fileImg" id='fileImg' onchange="getfileImg()" >
                    </p>
                </div>
                <div class="form-group">
                    <label>栏目:</label>
                    <p>
                        <select name="cat_id" id='catid'>
            				<option value="1" selected="selected" >慢生活</option>
            				<option value="2" >学无止境</option>
            				<option value="3" >网站建设</option>
            				<option value="4" >人物写真</option>
            				<option value="5" >旅游风光</option>
            				<option value="6" >萌宠</option>
                        </select>
                    </p>
                </div>
                <div class="form-group">
                    <label>简介:</label>
                    <p>
                        <textarea id='introduction' v-model="introduction"></textarea>
                    </p>
                </div>
                <div class="form-group">
                    <label >内容:</label>
                </div>
                
               
                
            </form>
            
             <div id="editor">
             	<div id='editorText'></div>
			 </div>
            <div class="form-group">
                    <label>&nbsp;</label>
                    <p>
                        <button type="button" id='btn2'>提交</button>
                    </p>
                </div>
            
            <!--                    debug   -->

			<!--  -->
       
        </div>
    </div>
    <footer>
        Copyright &copy; 2015 · GeneratePress · WordPress
    </footer>
 

   <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
   </script>
   <script>
            var edi = window.wangEditor;
	        var editor = new edi('#editor');
	        editor.customConfig.uploadImgServer = "php/uploadImg.php";  // 上传图片到服务器
	        editor.customConfig.uploadFileName = "file";   
	        editor.customConfig.uploadImgHeaders = {   
	            'Accept': 'text/x-json'
	        }
	        editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024   //设置限制上传图片大小为3M
	     
	        editor.customConfig.debug = true;
	        editor.customConfig.uploadImgHooks = {  
	            error: function (xhr, editor) {
	                alert("2：" + xhr + "请查看你的json格式是否正确，图片并没有上传");
	            },
	            fail: function (xhr, editor, result) {
	                alert("1：" + xhr + "请查看你的json格式是否正确，图片上传了，但是并没有回显");
	            },
	            success:function(xhr, editor, result){
	                console.log(result)
	            },
	            customInsert: function (insertImg, result, editor) {
	                insertImg(result.url);
	            }
	        };
	        editor.customConfig.showLinkImg = true; 
	        editor.create();
    
    
        
	
	var data={};
	var artid=get_get().split('=')[1];
	var v1;
	
	function v(data){
		 v1= new Vue({
				el:'#setform',
				data:{
					title:data.title,
					introduction:data.introduction,
					content:data.content
				},
				methods:{
					fn1:function(){
						console.log(data);
					}
				}
			});
		
	}
	ajax({
	    url : "php/artedit.php",  // url---->地址
	    type : "GET",   // type ---> 请求方式
	    async : true,   // async----> 同步：false，异步：true 
	    data : {   //传入信息
	    		artid:artid
	    	
	    },
	    success:function(data){   //返回接受信息
	        console.log('修改成功');
	        data=JSON.parse(data)[0];
	        v(data);
	        selectOption(data);
	      	editorText.innerHTML=data.content;
	    }
	});
	
	function selectOption(data){
		var op =catid.getElementsByTagName('option');
		for(var i=0;i<op.length;i++){
			if(op[i].value==data.artid){
				op[i].selected='selected';
				console.log(op[i])
			}
			
		}
	}
	
	
	 btn2.onclick=function(){
	 	if(catid.value && title.value && editor.txt.html() && fileImg.value && introduction.value){
	 	}else{
	 		alert('请将内容填写完整');
	 		return false;
	 	}
	 	ajax({
		    url : "php/artedit.php",  // url---->地址
		    type : "POST",   // type ---> 请求方式
		    async : true,   // async----> 同步：false，异步：true 
		    data : {   //传入信息
		    		type:'isisss',
		    		catid:catid.value,
			        title:title.value,
			        uptime:Date.parse(new Date())*1,
			        introduction:introduction.value,
			        content:editor.txt.html().replace(/&nbsp;/g,'#'),
			        art_Img:art_Img,
			        where:"artid="+artid
		    	
		    },
		    success : function(data){   //返回接受信息
		         alert('修改成功');
		         console.log(data);
		         window.location.href='http://www.work.com/bgPage/artlist.html';
		        
		    }
		    });

	 	
	 }

   </script>
</body>
</html>